:root {
    --background: #1d1e25;
    --color: rgb(255, 255, 255);
    --link: white;
    --linkHover: #FAFAD2;
}

.error-container {
    color: var(--color);
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 12vh);
    align-items: center;
}

h1 {
    font-size: calc(0.5 * 100vw);
}

h2 {
    font-size: 300%;
}

p {
    color: var(--color);
}

@media screen and (min-width: 1000px){
    .error-container {
        margin-top: 0;
        height: 100vh;
        width: calc(100vw - 15vw);
    }

    h1 {
        font-size: calc(0.5 * 60vw);
    }
}