@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --background: #1d1e25;
    --color: rgb(255, 255, 255);
    --link: white;
    --linkHover: #FAFAD2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    background-color: var(--background);
}

h1 {
    padding: 20px;
}



a {
    text-decoration: none;
    color: var(--color);
}

a :hover {
    text-decoration: underline;
}

.nav-logo img {
    margin: 2vh 0;
    width: 150px;
    z-index: 200;
}

.nav-logo-container {
    text-align: center;
}

.dropdown-work-svg {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: var(--color);
}

.dropdown-click {
    margin-left: 5px;
    font-size: 30px;
}

.dropdown-nav-links {
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
    display: none;
    overflow: hidden;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    position: fixed;
    width: 100vw;
    background-color: var(--background);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}
.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--link);
}

.nav-link:hover{
    color: var(--linkHover);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.footer-hamburger {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.footer-links-img {
    height: 20px;
}

.footer-text {
    width: 100vw;
    text-align: center;
    margin: 25px 0;
    font-size: 75%;
}

.footer-a {
    padding: 20px;
}

.footer-a :hover {
    text-decoration: none;
}

.dark-mode-activated {
    filter: brightness(0) invert();
}

.dark-mode :hover {
    color: var(--linkHover);
}

.dark-mode {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    padding: 20px;
}

@media screen and (min-width: 1000px){
    body {
        display: grid;
        grid-template:
            "header main main main main main main main main main"
            "footer main main main main main main main main main";
        grid-template-rows: 100vh;
        padding: 0;
        margin: 0;
    }
    
    .header {
        grid-area: header;
        height: 100.1vh;
        width: 15vw;
        border-right: 5px solid var(--color);
    }

    main {
        margin-left: auto;
        margin-right: 0;
        width: 85vw;
        grid-area: main;
    }

    .main-img {
        scroll-snap-align: start;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        position:fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        background-color: transparent;
        height: 100vh;
        width: 15vw;
        border-radius: 0;
        text-align: center;
        transition: 0;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-item {
        margin: 1rem 0;
    }
    
    .nav-link {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .nav-logo {
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo img {
        margin: 2vh 0;
        max-width: fit-content;
    }

    .footer-text {
        width: 80vw;
        text-align: center;
    }

    .footer-hamburger {
        position: fixed;
        bottom: 0;
        width: 15vw;
    }

    .dark-mode {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        cursor: pointer;
        font-size: x-large;
        position: fixed;
        bottom: 10vh;
        padding: 20px;
    }
    
}