:root {
    --background: #1d1e25;
    --color: rgb(255, 255, 255);
    --link: white;
    --linkHover: #FAFAD2;
}

main {
    width: 90vw;
    margin: 150px 5vw;
}

.img-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.img-about-picture {
    max-width: 90vw;
    max-height: 60vh;   
    animation: appearing 1.5s;
}

    
@keyframes appearing {
    0% { opacity: 0; }
    50%  { opacity: 0.7; }
    100%   { opacity: 1; }   
}


.text-about {
    color: var(--color);
    max-width: auto;
    animation: appearing 1.5s;
}

.text-about h1 {
    text-decoration: underline;
}


@media screen and (min-width: 1000px){
    main {
        margin: 0;
        padding-left: 15vw;
    }

    body {
        overflow-x: hidden;
    }
    
    .img-text {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 100vh;
        align-items: center;
        gap: 50px;
    }
    
    .text-about {
        width: 50%;
    }
}